body{
	font-family: 'arial';
}

h1{
	text-align: center;
	padding: 50px;
}

main{
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.keyboard{
	background-color: #ededed;
	padding: 40px;
	border-radius: 10px;
}

#gameSec, #gameOver{
	display: none;
}

button{
	border: 1px solid #d37ed2;
	background-color: #d37ed2;
	color: white;
	cursor: pointer;
}

button[disabled]{
	background-color: gray;
	border-color: gray;
	cursor: default;
}

#difficultySec button{
	font-size: 1.2rem;
	padding: 20px 25px;
	margin: 10px;
	box-shadow: 1px 1px 1px 0px gray;
	border-radius: 10px;
}

#lettersDiv button{
	padding: 5px 20px;
	margin: 8px;
	font-size: 1.1rem;
	border-radius: 5px;
}

#wordDisplaySec{
	font-size: 3rem;
	margin: 30px;
	padding: 20px;
}

