html {
	font-size: 62.5%;
} 

body{
	font-family: 'Roboto', 'arial', sans-serif;
	background-color: #FEF9EF;
	font-size: 1.2em;
	color: #202632;
}

/*header*/

header, footer{
	background-color: #FFC300;
}

.stickyMenu{
	padding: 50px;
	margin-bottom: 40px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transition-duration: 0.5s;
	z-index: 1000;
}

footer{
	padding: 50px;
	text-align: center;
	color: #282F3E;
	margin-top: 50px;
}

.smaller{
	padding: 8px;
	margin-bottom: 20px;
	transition-duration: 0.5s;
}

.smaller h1{
	font-size: 2em;
	text-align: left;
}

h1{
	text-align: center;
	font-size: 4rem;
	color: #202632;
	font-family: 'Lora', serif;	
	letter-spacing: 3px;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

main{
	margin-top: 180px;
}

.keyboard{
	width : 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
}

#numberOfLives{
	padding: 20px;
	font-size: 1.5em;
	color: #FF1F48;
	font-weight: bold;
	display: none;
}

#gameSec{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	flex-wrap: wrap;
}

#gameSec>section:first-child{
	flex: 1;
	text-align: left;
}

#gameSec>section:nth-child(2){
	flex: 1;
}

button{
	cursor: pointer;
	border-style: none;
}

#lettersDiv button:disabled, button[disabled]:hover{
	background-color: inherit;
	border-color: inherit;
	cursor: default;
	border-style: unset;
	color: #BDBDBD;
}


/*rules home page*/
#rules{
	text-align: left;
}

#rules h2{
	margin: 15px 0;
	color: #587291;
}

#rules li{
	margin: 10px;
	text-align: justify;
	font-size: 1.2em;
}

/*difficulty level selection - home page*/

#difficultyChoice{
	margin: 40px;
	padding: 40px;
	display: flex;
	justify-content: space-around;
}

#difficultyChoice button, #gameOver button, #newGame{
	-webkit-box-shadow: 0 3px 9px rgba(8,33,30,0.15);
	-moz-box-shadow: 0 3px 9px rgba(8,33,30,0.15);
	box-shadow: 0 3px 9px rgba(8,33,30,0.15);
	background-color: #587291;
	border: 1px solid #587291;
	color: white;
}

#difficultyChoice button, #gameOver button{
	width: 10em;
	font-size: 1.8em;
	padding: 20px;
	margin: 40px 10px;
	border-radius: 10px;
}

#difficultyChoice button:hover, #gameOver button:hover, #newGame:hover{
	background-color: #FF4365;
	border: 1px solid #FF4365;
}

/* canvas section*/
#canvasHangman{
	flex: 1;
	max-width:600px;
	max-height:650px;
	position: relative;
	justify-content: center;
	background-color: #FEF9EF;
}

.hangman{
	max-width: 80%;
	position: absolute;
}

#flowerCenter { z-index: 3; }
#flowerLayer2 { z-index: 2; }
#flowerLayer1 { z-index: 1; }


/*keyboard*/
#lettersDiv button{
	margin: 8px;
	padding: 5px 0;
	font-size: 2em;
	width: 3em;
	background-color: #FEF9EF;
	color: #587291;
	border: 1px solid #587291;
}


#lettersDiv button:hover:enabled{
	background-color: #364659;
	color: white;
	-webkit-box-shadow: 0 3px 9px rgba(8,33,30,0.15);
	-moz-box-shadow: 0 3px 9px rgba(8,33,30,0.15);
	box-shadow: 0 3px 9px rgba(8,33,30,0.15);
}

/*restart button*/
#newGame{
	font-size: 1.5em;
	padding: 18px 24px;
	margin: 0 10px;
	border-radius: 2px;
	margin-top: 80px;
}

#restartSec{
	text-align: right;
	display: none;
}

/*display of the blanks - word to guess*/
#wordDisplaySec{
	font-size: 3em;
	padding: 20px;
	text-align: center;
}


/*game over pop-up*/
#gameOver{
	text-align: center;
}

#gameOver p{
	padding: 20px 0;
	font-size: 2em;
}

#gameOver p:first-of-type{
	font-size: 3.5em;
	font-weight: bold;
	color: #587291;
}

.highlight{
	color: #587291;
	font-size: 1.5em;
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    z-index: 1001;
}

.popup {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%; /* poussé de la moitié de hauteur de viewport */
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    text-align: center;
}




@media screen and (max-width: 1220px){
	.container{
		width: 100%;
	}
	#difficultySec{
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	.keyboard{
		width: 100%;
		padding: 20px 0;
	}
}

@media screen and (max-width: 780px){
	#numberOfLives{
		display: block;
		position: absolute;
		top: 80px;
		left: 15px;
	}

	#numberOfLives p{
		display: inline-block;
	}

	.stickyMenu{
		padding: 8px;
		margin-bottom: 20px;
	}

	#difficultySec{
		height: initial;
	}

	#difficultyChoice{
		margin: 0px;
		padding: 0px;
		flex-direction: column;
		align-items: center;
	}

	#difficultyChoice button{
		flex: 1;
		margin: 10px;
	}

	#gameSec{
		flex-direction: column-reverse;
	}

	#gameSec>section:first-of-type{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 50px;
	}

	#gameSec>section:nth-of-type(2){
		flex: 1;
	}

	#canvasHangman{
		min-height: 350px;
	}

	.hangman{
		width: 100%;
		max-width: 350px;
		margin-bottom: 70px;
	}
	

	.popup{
		-ms-transform: none; /* IE 9 */
    	-webkit-transform: none; /* Chrome, Safari, Opera */
		transform: none;
	}

	#gameOver button{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}